<%-include("header")-%>
    <h1 class="my=4">Apartment Therapy</h1><br/>
    <small class="h4"> Apartment Therapy </small>
    <p> Wellcome to partment Therapy </p>
        <p>Enjoy the contents</p>
        <p>
            
            <ul>
                <li>House Organizer</li>
                <li>Best tips</li>
            </ul>
        </p>
<%-include("footer")-%>
